/* Global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --gradient: linear-gradient(to right, #ff7079, #ff3479);
    --button-color: #4c00ff;
}

body {
    font-family: "Stack Sans Text", sans-serif;
    height: 100%;
}
.background h1 {
    font-family: "Lobster", sans-serif;
}





/* image size regulation */
.background-image {
    max-height: 100vh;
}
.odin img {
    width: 4em;
}





/* page grid, grid elements */
.container {
    display: grid;
    grid-template-rows: 1fr 1.2fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "background header"
        "background main"
        "background footer";
    max-height: 100vh;
}
.background { grid-area: background; }
header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; }





/* absolute positioning for Odin logo, text */
.background {
    color: white;
    position: relative;
    overflow: hidden;
}
.odin {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #0000003d;
    padding: 20px 0;
}
.background p {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}
.background a:link {
    color: white;
}
.odin h1 {
    font-size: 4em;
}





/* header */
header {
    color: white;
    background: var(--gradient);
    display: flex;
    align-items: end;
    padding: 50px;
}
header p {
    font-size: 1.5em;
}





/* form, grid */
main {
    padding: 50px;
}
main p {
    font-size: 1.5em;
    padding: 10px;
}
form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.field-group {
    padding: 10px;
}
input {
    width: 250px;
    height: 35px;
    border: 1px solid #e5d7eb;
    border-radius: 5px;
    margin-top: 5px;
}
input:focus {
    outline: none;
    border: 2px solid blue;
    box-shadow: 2px 2px 8px #484848;
}
input[type="password"]:invalid {
    border: 2px solid red;
}





/* footer */
footer {
    color: white;
    background: var(--gradient);
    padding: 50px;
}
footer button {
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: var(--button-color);
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 20px;
}
footer a:link {
    color: var(--button-color);
}