/* Global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Stack Sans Text", sans-serif;
    height: 100%;
}
.background h1 {
    font-family: "Lobster", sans-serif;
}





/* image size regulation */
.background-image {
    max-height: 100vh;
}
.odin img {
    width: 4em;
}





/* grid, grid elements */
.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "background header"
        "background main"
        "background footer";
    max-height: 100vh;
}
.background { grid-area: background; }
header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; }





/* absolute positioning for Odin logo, text */
.background {
    color: white;
    position: relative;
    overflow: hidden;
}
.odin {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #00000055;
    padding: 20px 0;
}
.background p {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}
.background a:link {
    color: white;
}
.odin h1 {
    font-size: 4em;
}