/* Global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Stack Sans Text", sans-serif;
    height: 100%;
}
.background h1 {
    font-family: "Lobster", sans-serif;
}










